*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

app/src/main/res/raw/third_party_license_metadata

app/src/main/res/raw/third_party_licenses

.idea/codeStyles/Project.xml
/.gradle/

\.idea/compiler\.xml

\.idea/gradle\.xml

\.idea/misc\.xml

keystore\.properties

keystore/hipaduck_official\.jks
